.navbar{
  border: none;
  border-radius: 0;
  background-color: rgba(0,0,0,0.2);
}

html, body{
  height: 100%;
}

.carousel-inner,.carousel,.item,.container,.fill {
  height:100%;
  width:100%;
  background-position:center center;
  background-repeat:  no-repeat;
  background-size: cover;
}
.bg-sample{
  position:relative;
  background-image: url('http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg');
  background-position: center top;
  background-repeat:  no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #999;
  margin: 0;
  padding: 0;
}

div, body{
  margin: 0;
  padding: 0;
}
