html, body{
  height: 100%;
}
.bg-sample{
       position:relative;
	background-image: url('http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg');
	background-position: center top;
	background-repeat:  no-repeat;
       width: 100%;
       height: 100%;
       background-size: cover;
	background-color: #999;
       margin: 0;
       padding: 0;
}

div, body{
  margin: 0;
  padding: 0;
}
.
